body {
  /*background-image: url(http://4vector.com/i/free-vector-bus-05-vector_027301_buses_05.jpg);*/
  /*background-repeat: no-repeat;*/
  background-color: lightblue;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  background-color: darkblue;
  opacity: 0.9;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

img {
  width: 380px;
  height: 410px;
}

#left {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: -200px;
  margin-left: -700px;
  border: 15px solid darkblue;
}

#center {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border: 15px solid darkblue;
}

#right {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: -200px;
  margin-left: 300px;
  border: 15px solid darkblue;
}

#showResults {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -150px;
  margin-left: -120px;
  font-size: 22px;
}

/*#displayResults {
  position: absolute;
  top: 110%;
  left: 50%;
  margin-top: -120px;
  margin-left: -660px;
  font-size: 28px;
  color: white;
  background-color: darkblue;
}*/

#myGraph {
  position: absolute;
  top: 110%;
  left: 50%;
  margin-top: -120px;
  margin-left: -660px;
}
