body {
  /*background-image: url(http://4vector.com/i/free-vector-bus-05-vector_027301_buses_05.jpg);*/
  /*background-repeat: no-repeat;*/
  background-color: lightblue;
}

header {
  top: 0px;
  left: 0px;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  background-color: darkblue;
  opacity: 0.9;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

h4 {
  text-align: center;
  color:darkblue;
  margin-top: 1240px;
  margin-left: -140px;
  font-size: 24px;
}

img {
  width: 350px;
  height: 350px;
}

#left {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: -300px;
  margin-left: -700px;
  border: 15px solid darkblue;
}

#center {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  border: 15px solid darkblue;
}

#right {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: -300px;
  margin-left: 300px;
  border: 15px solid darkblue;
}

#showResults {
  position: absolute;
  top: 120%;
  left: 40%;
  margin-top: -250px;
  margin-left: -120px;
  font-size: 22px;
}

#myGraph {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-top: -120px;
  margin-left: -660px;
}

#lsClear {
  position: absolute;
  top: 120%;
  left: 60%;
  margin-top: -250px;
  margin-left: -120px;
  font-size: 22px;
}

footer {
  margin-top: 1600px;
}
